---

import type { Playlist } from "../lib/dataPlayList";


interface Props {
  playList: Playlist
}
 
const { playList } = Astro.props; 
const { id, cover, title, artists, color, } = playList; 
const artistString = artists.join(","); 

---

<a href={`/playlist/${id}`} class="playlist-item flex relative p-2 overflow-hidden items-center gap-5 rounded-md hover:bg-zinc-800  "  >

  <picture class="h-12 w-12 flex-none">
    <img class="object-cover bg-cover bg-no-repeat bg-center w-full h-full rounded-sm " src={cover} alt={`Cover ${title}} by ${artistString}`}>
  </picture>

  <div class="flex flex-auto flex-col truncate" >
    <h4 class="text-white text-sm" >{title}</h4>

    <span class="text-sm text-gray-400">{artistString}</span>
  </div>

</a>